* {
    padding: 0px;
    margin: 0px;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    }
.nav-bar a {
    color: pink;
}
.nav-bar img {
    width: 30px;
}
.column-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.column {
    flex: 2;
}
.column p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.column-2 img {
    width: 500px;
}
.nav-bar a {
    color: white;
    font-size: 20px;
    margin-right: 30px;
    text-decoration: none;
}
.title {
    font-size: 45px;
    margin-left: 20px;
    font-family: 'IM Fell DW Pica SC', serif;
}
#btn {
    background-color: black;
    color: white;
    border-style: none;
    padding: 5px;
    margin-bottom: 20px;
}
#boba-img {
    width: 180px;
}